@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .navbar {
    @apply w-[95%] md:w-full left-[2.5%] md:left-0 text-whiteText p-4 fixed top-0 rounded-lg bg-black my-4 transition-all duration-200;
  }
  .blackNavbar {
    @apply bg-black text-whiteText;
  }
  .whiteNavbar {
    @apply bg-transparent;
  }

  .pattern {
    transform: perspective(1500px) rotateX(-80deg);
    @apply h-[1200px] relative -top-[440px] left-0 w-full bg-black;
  }
  .line-rotate {
    background: linear-gradient(to bottom, #39fdfa77, transparent 70%);
    @apply w-px h-full;
  }

  .hero-radial {
    @apply h-36 w-[70vw] absolute top-1/2 left-1/2 !translate-x-[-50%];
    filter: blur(200px);
    background: #39fdfaa9;
  }

  .hero-container {
    @apply absolute top-1/2 left-1/2 !translate-x-[-50%] !translate-y-[-50%] text-whiteText;
  }

  /* product types */

  /* brand  */
  .wrapper {
    @apply w-full h-64 m-auto bg-transparent overflow-hidden transition-all;
  }

  .brand-box {
    @apply w-[400px] h-64 absolute text-xl;
  }

  .light {
    @apply bg-white rounded-full absolute h-12 w-16 transition-all !translate-x-[-50%] top-8 left-1/2;
    filter: blur(9px);
  }
}
